{% extends 'pages/base.html' %}

{% block title %}Anonymize{% endblock %}

{% block content %}
  <h2 style="text-align: center; color: #ffffff; font-size: xx-large;">Anonymize Your Account Information</h2>
  <form method="PUT" action="/anonymize_account" onsubmit="submitAnonymizeForm(event)" style="text-align: center;">
    {% csrf_token %}
    <p style="color: aliceblue; text-align: center;">
      When you anonymize your account information, your account will be completely anonymized in the system, you will not be able to log in, and it cannot be undone. Are you sure you want to proceed?
    </p>
    <div style="display: flex; justify-content: center; gap: 15px;">
      <button type="submit" class="btn-glitch-fill"><span class="text-decoration">!! yes, anonymize !!</span></button>
    </div>
  </form>
  <div style="text-align: center; margin-top: 15px;">
    <button class="btn-glitch-fill"  onclick="navigateTo('user')"><span class="text-decoration">\\ cancel //</span></button>
  </div>
{% endblock %}
