{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gameHome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pong.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/matchHistory.css' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'assets/images/favicon.ico' %}">
    <title>{% block title %}Halimus{% endblock %}</title>
</head>
<body>
    <div id="content">
        <div class="GDPR" onclick="navigateTo('gdpr')">Data Privacy Policy</div>
        <div class="GDPR2" onclick="navigateTo('about')">About Us</div>
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'assets/js/script.js' %}" defer></script>
</body>
</html>
