{% extends 'pages/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div id="transandece">TRANSCENDENCE</div>
    <div id="contentt">
        <div class="buttons">
            <div id="message"></div>
            <div class="btn-glitch-fill" onclick="navigateTo('login')">
                <span class="text-decoration"> // </span><span class="text"> Login </span
                    ><span class="text-decoration"> // </span>
            </div>
            <div class="btn-glitch-fill" onclick="navigateTo('register')">
                <span class="text-decoration"> // </span><span class="text"> Register </span
                    ><span class="text-decoration"> // </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
